<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white mt-auto">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "AdarshAnand2707", "https://github.com/AdarshAnand2707", class: "text-white" %></small>
    </div>
</footer>
